@model MvcCvWebsite.Models.Sinif.Class1

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="HASAN ERDAL" />
    <title>HASAN ERDAL - Software Developer</title>
    <link rel="icon" type="image/x-icon" href="~/startbootstrap-resume-gh-pages/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/startbootstrap-resume-gh-pages/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/startbootstrap-resume-gh-pages/assets/img/profile.jpg" alt="" /></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyimlerim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Eğitim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Yeteneklerim</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">İlgi Alanlarım</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Sertifika &amp; Ödüller</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            @foreach (var a in Model.abouts)
            {


                <div class="resume-section-content">
                    <h1 class="mb-0">
                        @a.Name
                        <span class="text-primary">@a.Surname</span>
                    </h1>
                    <div class="subheading mb-5">
                        @a.Adress &nbsp;·&nbsp; @a.Phone &nbsp;·&nbsp;
                        <a href="mailto:name@email.com">@a.Mail</a>
                    </div>
                    <p class="lead mb-5">@a.About1</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/hasan-erdal-2b57a3136/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Filiphasan"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/hasaerda"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/xxfiliphasanxx/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            }
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Deneyimlerim</h2>
                @foreach (var d in Model.experiences)
                {
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">@d.Title</h3>
                            <div class="subheading mb-3">@d.SubTitle</div>
                            <p>@d.Detail</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">@d.Date</span></div>
                    </div>
                }

            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Eğitimlerim</h2>
                @foreach (var e in Model.educations)
                {
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">@e.University</h3>
                            <div class="subheading mb-3">@e.Faculty</div>
                            <div>@e.Branch</div>
                            <p>GPA: @e.GPA</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">@e.Date</span></div>
                    </div>
                }
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Yeteneklerim</h2>
                <div class="subheading mb-3">Programlama Dilleri &amp; Araçları</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    <li class="list-inline-item"><i class="fab fa-less"></i></li>
                    <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                    <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                </ul>
                <div class="subheading mb-3">Yetenekler</div>
                <ul class="fa-ul mb-0">
                    @foreach (var y in Model.skills)
                    {
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            @y.Skill
                        </li>
                    }
                </ul>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">İlgi Alanlarım &amp; Hobilerim</h2>
                @foreach (var h in Model.ınteresteds)
                {
                    <p><i class="fas fa-check"></i>@h.Interested</p>
                }
            </div>
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Sertifikalarım & Ödüllerim</h2>
                <ul class="fa-ul mb-0">
                    @foreach (var a in Model.awards)
                    {
                        <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            @a.Award
                        </li>
                    }
                </ul>
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/startbootstrap-resume-gh-pages/js/scripts.js"></script>
</body>
</html>
